@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
 
.container {
  min-height: 100vh;
  padding: 2rem;
}
 
.form-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-section form {
  display: flex;
  justify-content: space-between;
}
form section {
  width: 30%;
  font-size: 1rem;
}
 
form section input {
  width: 100%;
  line-height: 2.5;
  margin-top: 7px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  padding-left: 5px;
  font-size: 1rem;
}
 
input:focus {
  outline: none;
}
.add-user-section {
  display: flex;
}
.add-user-section button {
  line-height: 2.4;
  width: 120px;
  cursor: pointer;
}
 
 
 
.message-section {
  margin: 1rem 0;
  height: 15px;
}
.message-section .error {
  color: #ff0000;
}
.message-section .success {
  color: #11e74e;
}
 
.employees-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.employees-section .employees-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.employees-info .employee-details {
  display: flex;
  align-items: center;
  line-height: 2.5;
  font-size: 1rem;
}
.employees-info #status {
  color: #ffffff80;
}
.employee-details .details {
  border: 1px solid #ffffff;
  min-width: 50%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
}
 
 
 
.employee-details .delete-user {
  margin: 0 1rem;
  border: none;
  border-radius: 20px;
  width: 90px;
  padding: 7px 0;
  cursor: pointer;
}